# Add MediaTek MT8125/MT8389 Support
CONFIG_ARCH_MEDIATEK=y
CONFIG_MACH_MT2701=n
CONFIG_MACH_MT6589=y
CONFIG_MACH_MT6592=n
CONFIG_MACH_MT7623=n
CONFIG_MACH_MT7629=n
CONFIG_MACH_MT8127=n
CONFIG_MACH_MT8135=n
