#include <dt-bindings/input/input.h>

&pwrap {
	pmic: mt6320 {
		compatible = "mediatek,mt6320";

		pio6320: pinctrl {
			compatible = "mediatek,mt6320-pinctrl";
			gpio-controller;
			#gpio-cells = <2>;
		};
	};

	rtc {
		compatible = "mediatek,mt6320-rtc";
	};

	mt6320keys: keys {
		compatible = "mediatek,mt6320-keys";
		power {
			linux,keycodes = <KEY_POWER>;
			wakeup-source;
		};
		home {
			linux,keycodes = <KEY_HOME>;
		};
	};
};

