// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright (c) 2026 Akari Tsuyukusa <akkun11.open@gmail.com>
 */

#include "mt6589-lenovo-blade.dtsi"

/ {
	framebuffer0: framebuffer@bf600000 {
		compatible = "simple-framebuffer";
		memory-region = <&framebuffer_reserved>;
		width = <1280>;
		height = <800>;
		stride = <(1280 * 2)>;
		format = "r5g6b5";
	};
};
