// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright (c) 2026 Akari Tsuyukusa <akkun11.open@gmail.com>
 */

#include "mt6589-lenovo-blade.dtsi"

/ {
	framebuffer0: framebuffer@bf600000 {
		compatible = "simple-framebuffer";
		memory-region = <&framebuffer_reserved>;
		width = <1280>;
		height = <800>;
		stride = <(1280 * 2)>;
		format = "r5g6b5";
		status = "disabled";
	};
};

&pio {
	panel_pins: panel-pins {
		pins_power_en {
			pinmux = <MT6589_GPIO137__FUNC_GPIO137>;
		};
	};
};

&mt6320_ldo_vrf28_2 {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "boe,hx8896-a01-panel";
		reg = <0>;
		power-supply = <&mt6320_ldo_vrf28_2>;
		enable-gpios = <&pio 137 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&panel_pins>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	/*
	panel@0 {
		compatible = "innolux,hx8896-a01";
		reg = <0>;
		power-supply = <&mt6320_ldo_vrf28_2>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
	*/

	port {
		dsi_out: endpoint {
			remote-endpoint = <&panel_in>;
		};
	};
};
