// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright (c) 2026 Akari Tsuyukusa <akkun11.open@gmail.com>
 */

/dts-v1/;
#include "mt6589.dtsi"
#include "mt6320.dtsi"

#include <dt-bindings/pinctrl/mt6589-pinfunc.h>

/ {
	chosen {
		/* DEBUG: testing clock drivers */
		bootargs = "clk_ignore_unused";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;

		ranges;

		framebuffer_reserved: memory@bf600000{
			reg = <0xbf600000 0xa00000>;
			no-map;
		};
	};
};

&pio {
	usb_pins: usb-pins {
		pins_iddig {
			pinmux = <MT6589_GPIO57__FUNC_GPIO57>;
			bias-pull-up;
			input-enable;
		};

		pins_eint34_conflict {
			pinmux = <MT6589_GPIO48__FUNC_GPIO48>;
			bias-pull-up;
			input-enable;
			input-schmitt-enable;
		};

		pins_drvvbus {
			pinmux = <MT6589_GPIO130__FUNC_USB_DRVVBUS>;
		};
	};

	ts_pins: touchscreen-default {
		pin-int {
			pinmux = <MT6589_GPIO124__FUNC_EINT5>;
			input-enable;
			bias-pull-up;
		};

		pin-reset {
			pinmux = <MT6589_GPIO140__FUNC_GPIO140>;
			output-low;
		};
	};
};

&usb0 {
	status = "okay";
	usb-role-switch;
	vusb-supply = <&mt6320_ldo_vusb>;
	pinctrl-names = "default";
	pinctrl-0 = <&usb_pins>;

	connector {
		compatible = "gpio-usb-b-connector", "usb-b-connector";
		type = "micro";
		id-gpios = <&pio 57 GPIO_ACTIVE_LOW>;
		vbus-supply = <&usb_otg_vbus>;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <400000>;

	/* Synaptics ClearPad 7300 */
	touchscreen@38 {
		compatible = "syna,rmi4-i2c";
		reg = <0x38>;
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&ts_pins>;

		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&pio>;

		reset-gpios = <&pio 140 GPIO_ACTIVE_LOW>;

		/* TODO: order */
		vdd-supply = <&mt6320_ldo_vgp4>;
		vio-supply = <&mt6320_ldo_vgp6>;

		syna,startup-delay-ms = <10>;
		syna,reset-delay-ms = <50>;

		rmi4-f01@1 {
			reg = <0x1>;
		};

		rmi4-f11@11 {
			reg = <0x11>;
			syna,sensor-type = <1>;
		};

		rmi4-f34@34 {
			reg = <0x34>;
		};
	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	clock-frequency = <100000>;

	accelerometer@11 {
		compatible = "bosch,bma255";
		reg = <0x11>;
	};

	magnetometer@13 {
		compatible = "bosch,bmm150";
		reg = <0x13>;
	};
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins>;
	clock-frequency = <100000>;

	bq27541: fuel-gauge@55 {
		compatible = "ti,bq27541";
		reg = <0x55>;
	};
};

&i2c6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pins>;
	clock-frequency = <100000>;

	charger@6b {
		compatible = "ti,bq24196";
		reg = <0x6b>;
		poll-interval = <10000>;
		usb_otg_vbus: usb-otg-vbus { };
	};
};

&uart0 {
	status = "okay";
};

/* Internal storage */
&mmc0 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	vmmc-supply = <&mt6320_ldo_vemc_3v3>;
	vqmmc-supply = <&mt6320_ldo_vemc_1v8>;

	non-removable;
	no-sd;
	no-sdio;
	bus-width = <8>;

	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-ddr-1_8v;

	assigned-clocks = <&topckgen CLK_TOP_MUX_MSDC0>;
	assigned-clock-parents = <&apmixedsys CLK_APMIXED_MSDCPLL_208M>;
};

/* SD Card */
&mmc1 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_uhs>;
	vmmc-supply = <&mt6320_ldo_vmch1>;
	vqmmc-supply = <&mt6320_ldo_vmc1>;

	bus-width = <4>;
	no-mmc;
	no-sdio;
	/* TODO: recheck */
	cd-gpios = <&pio 171 GPIO_ACTIVE_HIGH>;

	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-ddr50;

	assigned-clocks = <&topckgen CLK_TOP_MUX_MSDC1>;
	assigned-clock-parents = <&apmixedsys CLK_APMIXED_MSDCPLL_208M>;
};

/* SDIO */
&mmc3 {
	status = "disabled";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc3_pins_default>;
	pinctrl-1 = <&mmc3_pins_uhs>;
	/* FIXME: always 1.8V? */
	vmmc-supply = <&mt6320_ldo_vemc_3v3>;
	vqmmc-supply = <&mt6320_ldo_vemc_1v8>;

	bus-width = <4>;
	cap-sdio-irq;
	non-removable;
	no-mmc;
	no-sd;

	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-ddr50;

	assigned-clocks = <&topckgen CLK_TOP_MUX_MSDC3>;
	assigned-clock-parents = <&apmixedsys CLK_APMIXED_MSDCPLL_208M>;
};
