// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright (c) 2026 Akari Tsuyukusa <akkun11.open@gmail.com>
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/mt6589-pinfunc.h>
#include "mt6589-lenovo-b8000.dtsi"

/ {
	model = "Lenovo YOGA Tablet 10 (Wi-Fi)";
	compatible = "lenovo,b8000-f", "mediatek,mt6589";

	reg_usb_vbus: regulator-usb-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-gpios = <&pio 130 GPIO_ACTIVE_HIGH>;
	};
};

/* Internal storage */
&mmc0 {
//	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	non-removable;
	bus-width = <8>;
	max-frequency = <50000000>;
//	cap-mmc-highspeed;
	vmmc-supply = <&mt6320_ldo_vemc_3v3>;
	vqmmc-supply = <&mt6320_ldo_vemc_1v8>;
};

/* SD Card */
&mmc1 {
//	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_uhs>;
	bus-width = <4>;
//	max-frequency = <50000000>;
	max-frequency = <400000>;
//	cap-sd-highspeed;
//	cd-gpios = <&pio 171 GPIO_ACTIVE_HIGH>;
// gpio182 is fake
	cd-gpios = <&pio 182 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&mt6320_ldo_vmch1>;
	vqmmc-supply = <&mt6320_ldo_vmc1>;
};

&pio {
	usb_pins: usb-pins {
		pins_iddig {
			pinmux = <MT6589_GPIO57__FUNC_IDDIG>;
			bias-pull-up;
		};

		eint34_conflict {
			pinmux = <MT6589_GPIO48__FUNC_GPIO48>;
			input-enable;
			bias-disable;
		};

		pins_drvvbus {
			pinmux = <MT6589_GPIO130__FUNC_USB_DRVVBUS>;
		};
	};
};

&usb0 {
	status = "okay";
	usb-role-switch;
	vusb-supply = <&mt6320_ldo_vusb>;

	connector {
		compatible = "gpio-usb-b-connector", "usb-b-connector";
		type = "micro";
		id-gpios = <&pio 57 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_pins>;
		vbus-supply = <&reg_usb_vbus>;
	};
};
