// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright (c) 2026 Akari Tsuyukusa <akkun11.open@gmail.com>
 */

#include <dt-bindings/gpio/gpio.h>
#include "mt6589-lenovo-b8000.dtsi"

/ {
	model = "Lenovo YOGA Tablet 10 (Wi-Fi)";
	compatible = "lenovo,b8000-f", "mediatek,mt6589";
};

/* Internal storage */
&mmc0 {
//	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	non-removable;
	bus-width = <8>;
	max-frequency = <50000000>;
//	cap-mmc-highspeed;
	vmmc-supply = <&mt6320_ldo_vemc_3v3>;
	vqmmc-supply = <&mt6320_ldo_vemc_1v8>;
};

/* SD Card */
&mmc1 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_uhs>;
	bus-width = <4>;
//	max-frequency = <50000000>;
	max-frequency = <400000>;
//	cap-sd-highspeed;
//	cd-gpios = <&pio 171 GPIO_ACTIVE_HIGH>;
// gpio182 is fake
	cd-gpios = <&pio 182 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&mt6320_ldo_vmch1>;
	vqmmc-supply = <&mt6320_ldo_vmc1>;
};
